{% extends 'base.html' %}


{% block content %}
<br />
{% for product in products.all%}
<br />
<div class="row">
  <div class="col-1" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
      <img src="{{product.icon.url}}" class="img-fluid" />
  </div>
  <div class="col-7" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
    <h2>{{product.title}}</h2>
    <p>{{product.summary}}</p>

  </div>
  <div class="col-4">
    <a href="javascript:{document.getElementById('upvote{{product.id}}').submit()}" ><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span>         Upvote {{product.votes_total}}</button></a>
    </div>

</div>
<hr />
<br />



<form id="upvote{{product.id}}" method="POST" action="{% url 'upvote' product.id %}">
 {% csrf_token %}
  <input type="hidden">
</form>

{% endfor %}

{% endblock %}
