{% extends 'base.html' %}


{% block content %}

{% load staticfiles %}
<link href="https://fonts.googleapis.com/css?family=Cantarell:400i|Lobster|Noto+Serif|Ubuntu" rel="stylesheet">
 <div class="jumbotron jumbotron-fluid" style="background-color: #c03100; ">
   <div class="container-fluid">
     <div class="row">
      <div class="col-8">
        <h1 class="jumbotron-heading" style="color:#ffffff; font-family: 'Lobster', cursive;">Welcome to Product Hunt!</h1>
        <p class="text" style="color:#ffffff; ">Discover awesome new tech apps and products that have been hunted by our ever-growing community of users.
        Product Hunt surfaces the best new products, every day. It's a place for product-loving enthusiasts to share and geek out about the latest mobile apps,
        websites, hardware projects, and tech creations.</p>
        <a href="{% url 'signup' %}" class="btn btn-primary my-2" style="background-color:#ffffff; color: #c03100;"><b>Sign Up</b></a>
      </div>
      <div class="col-4" >
        <img class="img-fluid" src="{% static 'cat-tech.jpg' %}" />
      </div>
     </div>
   </div>
</div>
{% for product in products.all%}
<br />
<div class="row">
  <div class="col-1" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
      <img src="{{product.icon.url}}" class="img-fluid" />
  </div>
  <div class="col-7" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
    <h2>{{product.title}}</h2>
    <p>{{product.summary}}</p>

  </div>
  <div class="col-4">
    <a href="javascript:{document.getElementById('upvote{{product.id}}').submit()}" ><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span>         Upvote {{product.votes_total}}</button></a>
    </div>

</div>
<hr />
<br />



<form id="upvote{{product.id}}" method="POST" action="{% url 'upvote' product.id %}">
 {% csrf_token %}
  <input type="hidden">
</form>

{% endfor %}

{% endblock %}
